* {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif; }

header {
  position: relative; }

nav {
  height: 53px;
  background-color: #212121; }

.container {
  max-width: 1140px; }

.main_menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 13px 70px; }

.main_menu .menu_item {
  border-right: 2px dotted #000000;
  padding-right: 35px; }

.main_menu .menu_item:last-child {
  border: none; }

.main_menu .menu_text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
  color: #FFFFFF; }

.subheader {
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  mix-blend-mode: normal;
  height: 87px; }

.subheader .subheader_logo {
  margin-top: 16px;
  max-width: 100%; }

.subheader .subheader_official {
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  opacity: 0.6;
  color: #ffffff;
  margin-top: 8px; }

.subheader .subheader_calltous {
  text-align: center;
  margin-top: 21px;
  margin-right: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF; }

.subheader .subheader_phonenumber {
  text-decoration: none;
  margin-top: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff; }

.subheader .subheader_btn {
  margin-top: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  width: 172px;
  height: 46px;
  border: none;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-transform: uppercase; }
  .subheader .subheader_btn:hover {
    background-image: none;
    background: #1EACC7; }

.promo {
  padding-top: 150px;
  min-height: 799px;
  background: url(../img/background/uber_bg.png) center center/cover no-repeat; }

.promo .promo_header {
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  color: #ffffff; }

.promo .promo_subheader {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  text-align: center; }

.promo .promo_descr {
  margin-top: 18px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  max-width: 829px; }

.promo .promo_btn {
  display: block;
  margin: 115px auto 0 auto;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none; }
  .promo .promo_btn:hover {
    background-image: none;
    background: #1EACC7; }

.benefit {
  padding-top: 18px;
  padding-bottom: 64px;
  min-height: 767px; }
  .benefit .benefit_box {
    margin: 0 auto;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    background: #000000;
    color: #FFFFFF; }
  .benefit .benefit_header {
    margin-top: 37px;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    color: #222222; }
  .benefit .benefit_wrapper {
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 65px; }
  .benefit .benefit_column_2 {
    margin-left: 70px; }
  .benefit .benefit_dad {
    display: flex;
    column-gap: 25px; }
  .benefit .benefit_circle {
    min-width: 116px;
    max-width: 100%;
    min-height: 116px;
    max-height: 100%;
    background: #1EACC7;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .benefit .benefit_subheader {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
    width: 307px; }
  .benefit .benefit_descr {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020; }

.mobile_app {
  padding: 46px 0 80px 0;
  min-height: 864px;
  background: url(../img/background/mobile_bg.png) center center/cover no-repeat; }
  .mobile_app .mobile_app_capability {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 27px;
    background: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #ffffff;
    margin: 46px auto 0 auto; }
  .mobile_app .mobile_app_header {
    margin-top: 32px;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    color: #222222; }
  .mobile_app .mobile_app_subheader {
    margin-top: 1px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #222222; }

.mobile_app_block {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto; }
  .mobile_app_block_title {
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF; }
  .mobile_app_block_plus {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 29px;
    height: 29px;
    background: #000000;
    border-radius: 100%;
    padding: 6px;
    cursor: pointer; }
    .mobile_app_block_plus img {
      width: 100%; }
  .mobile_app_block_1 {
    padding-top: 82.5px;
    margin-top: 30px;
    background: url(../img/cards/card1.png) center center/cover no-repeat; }
  .mobile_app_block_2 {
    padding-top: 88.5px;
    margin-top: 30px;
    background: url(../img/cards/card2.png) center center/cover no-repeat; }
  .mobile_app_block_3 {
    padding-top: 88.5px;
    margin-top: 30px;
    background: url(../img/cards/card3.png) center center/cover no-repeat; }
  .mobile_app_block_4 {
    padding-top: 88.5px;
    margin-top: 19px;
    background: url(../img/cards/card4.png) center center/cover no-repeat; }
  .mobile_app_block_5 {
    padding-top: 88.5px;
    margin-top: 19px;
    background: url(../img/cards/card5.png) center center/cover no-repeat; }
  .mobile_app_block_6 {
    padding-top: 83.5px;
    margin-top: 19px;
    background: url(../img/cards/card6.png) center center/cover no-repeat; }

.choose {
  min-height: 898px; }
  .choose_wrapper {
    position: absolute;
    z-index: -1; }
  .choose_box {
    display: flex;
    margin: 0 auto;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #070716;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 27px;
    background: #FFFFFF; }
  .choose_header {
    margin-top: 26px;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    color: #FFFFFF; }
  .choose_subheader {
    margin-top: 1px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF; }
  .choose_descr {
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #222222; }
  .choose_block_1 {
    padding-top: 49px;
    background: #070716;
    height: 502px;
    width: 100vw; }
  .choose_block_2 {
    padding-top: 210.5px;
    height: 397px;
    width: 100vw;
    background: url("../img/background/mobile_bg.png"); }

.container_choose {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1140px; }
  .container_choose img {
    position: relative;
    top: 226px; }

.terms {
  min-height: 764px;
  padding: 66px 0 87px 0; }
  .terms_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #FFFFFF;
    width: 115px;
    height: 27px;
    background: #000000;
    text-transform: uppercase; }
  .terms_header {
    margin-top: 27px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
